<div class="img-sidebar">
    <br>
    <img src="https://brandemia.org/sites/default/files/inline/images/logo_banco_pichincha_portada.jpg" alt="Car"
        width="20%" height="100px">
</div>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
    <h5 [routerLink]="['/person']" class="w3-bar-item w3-button">Clientes</h5>
    <h5 [routerLink]="['/account']" class="w3-bar-item w3-button">Cuentas</h5>
    <h5 [routerLink]="['/movements']" class="w3-bar-item w3-button">Movimientos</h5>
    <h5 [routerLink]="['/reports']" class="w3-bar-item w3-button">Reportes</h5>
</div>
<div style="margin-left:20%">
    <div class="w3-container">
        <router-outlet></router-outlet>
    </div>
</div>