<h1>Clientes</h1>
<div *ngIf="isNewPerson" style="text-align: right;">
    <button class="save" *ngIf="!update" (click)="savePerson()" type="button">Guardar</button>
    <button class="save" *ngIf="update" (click)="updatePerson()" type="button">Actualizar</button>
    <button class="canceled" (click)="canceled()" type="button">Cancelar</button>
</div>
<div *ngIf="!isNewPerson" class="bp-space-between">
    <input class="bp-input" #searchInput (keydown)="searchPerson(searchInput.value)" type="text" placeholder="Buscar">
    <button class="bp-button" (click)="registerPerson()">Nuevo</button>
</div>
<div *ngIf="!isNewPerson">
    <br>
    <table id="persons">
        <tr>
            <th>Nombres</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Documento</th>
            <th>Identificación</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let person of persons">
            <td>{{person.fullName}}</td>
            <td>{{person.genderPerson}}</td>
            <td>{{person.age}}</td>
            <td>{{person.dni}}</td>
            <td>{{person.identificationPattern}}</td>
            <td>{{person.address}}</td>
            <td>{{person.phone}}</td>
            <td *ngIf="person.clientPresenter?.status">ACTIVO</td>
            <td *ngIf="!person.clientPresenter?.status">INACTIVO</td>
            <td>
                <button (click)="editPerson(person)" class="edit">Editar</button>
                <button (click)="deletePerson(person)" class="delete">Eliminar</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="isNewPerson" class="bp-new-person">
    <form [formGroup]="personForm">
        <div class="bp-space-between">
            <div>
                <p>Nombres completos:</p>
                <input type="text" formControlName="fullName" placeholder="Nombres completos">
            </div>
            <div>
                <p>Género:</p>
                <select formControlName="genderPerson">
                    <option value="FEMENINO">FEMENINO</option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="MASCULINO">OTRO</option>
                </select>
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Edad:</p>
                <input type="number" formControlName="age" placeholder="Edad">
            </div>
            <div>
                <p>Tipo de documento:</p>
                <select formControlName="identificationPattern">
                    <option value="CEDULA">CEDULA</option>
                    <option value="RUC">RUC</option>
                    <option value="PASAPORTE">PASAPORTE</option>
                </select>
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Número de documento:</p>
                <input type="text" maxlength="13" formControlName="dni" placeholder="Numero de documento">
            </div>
            <div>
                <p>Dirección:</p>
                <input type="text" formControlName="address" placeholder="Dirección">
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Teléfono:</p>
                <input type="number" formControlName="phone" placeholder="Teléfono">
            </div>
            <div>
                <p>Contraseña:</p>
                <input type="text" formControlName="password" placeholder="Contraseña">
            </div>
        </div>
        <div *ngIf="update">
            <p>Estado:</p>
            <div style="text-align: left !important;">
                <input formControlName="status" type="checkbox">
            </div>
        </div>
    </form>
    <br>
</div>