<h1>Clientes</h1>
<div *ngIf="!isNewPerson" class="bp-space-between">
    <input class="bp-input" type="text" placeholder="Buscar">
    <button class="bp-button" (click)="registerPerson()">Nuevo</button>
</div>
<div *ngIf="!isNewPerson">
    <br>
    <table id="persons">
        <tr>
            <th>Nombres</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Documento</th>
            <th>Identificación</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Contraseña</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
        </tr>
    </table>
</div>
<div *ngIf="isNewPerson" class="bp-new-person">
    <form [formGroup]="personForm">
        <div class="bp-space-between">
            <div>
                <p>Nombres completos:</p>
                <input type="text" formControlName="fullName" placeholder="Nombres completos">
            </div>
            <div>
                <p>Género:</p>
                <select formControlName="genderPerson">
                    <option value="FEMENINO">FEMENINO</option>
                    <option value="MASCULINO">MASCULINO</option>
                </select>
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Edad:</p>
                <input type="number" formControlName="age" placeholder="Edad">
            </div>
            <div>
                <p>Tipo de documento:</p>
                <select formControlName="identificationPattern">
                    <option value="CEDULA">CEDULA</option>
                    <option value="RUC">RUC</option>
                    <option value="PASAPORTE">PASAPORTE</option>
                </select>
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Número de documento:</p>
                <input type="text" formControlName="dni" placeholder="Numero de documento">
            </div>
            <div>
                <p>Dirección:</p>
                <input type="text" formControlName="address" placeholder="Dirección">
            </div>
        </div>
        <br>
        <div class="bp-space-between">
            <div>
                <p>Teléfono:</p>
                <input type="number" formControlName="phone" placeholder="Teléfono">
            </div>
            <div>
                <p>Contraseña:</p>
                <input type="text" formControlName="password" placeholder="Contraseña">
            </div>
        </div>
    </form>
    <br>
    <div>
        <button class="save" (click)="savePerson()" type="button">Guardar</button>
        <button class="canceled" (click)="canceled()" type="button">Cancelar</button>
    </div>
</div>